.html, body {
  overflow: hidden;
}

.footer{
  position:absolute;
  width:200px;
  bottom:0;
  margin-bottom: 10px;
}

.icon{
  color:#eeeeee;
  margin-right: 10px;
  margin-left: 10px;
}

.content{
  display: flex;
  flex-direction: column;
}


.content-header.content-header {
  color: #777777;
  padding-top:50px;
  padding-bottom: 30px;
  font-size: 2.2rem;
}

.layout{
  position: absolute;
  width:100vw;
}