.html, body {
  height: 100%;
}

.name{
  position: absolute;
  font-size: 2.5rem;
}

.lightText{
  color:#eeeeee;
  font-size: 2rem;
}

.footer{
  align-self: flex-end;
  width:200px;
  margin-bottom: 10px;
}

.icon{
  color:#eeeeee;
  margin-right: 10px;
  margin-left: 10px;
}

.content{
  border-style: solid;
  border-color: transparent;

  display: flex;
  flex-direction: column;
  text-Align: center;
  overflow-y: auto;
  overflow-x: hidden;
}